<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>890030839149-pk6crsn925m4uafn69r9p17mo34qivuk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.890030839149-pk6crsn925m4uafn69r9p17mo34qivuk</string>
	<key>API_KEY</key>
	<string>AIzaSyB0kByaFyybe60MWYacnPqJvNDQSNtDZkg</string>
	<key>GCM_SENDER_ID</key>
	<string>890030839149</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cryptoApp</string>
	<key>PROJECT_ID</key>
	<string>crypto-app-b34ce</string>
	<key>STORAGE_BUCKET</key>
	<string>crypto-app-b34ce.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:890030839149:ios:c4d6e486efb2d44ac7f664</string>
</dict>
</plist>